@charset "UTF-8";

:root {
  --theme-monotone1: #353436;
  --theme-monotone2: #DBD2E0;
  --theme-monotone2-l: #c8c0cc;

/*
  --theme-couleur1: #510009;
  --theme-couleur2: #A63446;
*/
  --theme-nav: white;
  --theme-nav-accent: rgba(136, 136, 136, 1);
  --theme-nav-accent-l: rgba(136, 136, 136, .4); /* transparence */

  --theme-nav-hover: #dddddd;
  --theme-nav-menu: #bbbbbb;
  --theme-nav-menu-accent:#999999;

}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

* {
  font: 16px sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

article {
  overflow-y: auto;
}

footer {
  text-align: center;
  color: white;
  background-color: var(--theme-monotone1);
  height: 2em;
  padding-bottom: 1em;
}

nav {
  flex: 0 1 auto;
  width: 100%;
  background-color: var(--theme-nav);
  border-bottom: 2px solid var(--theme-nav-accent-l);
}

nav > div {
  display: inline-block;
}

nav > div a {
  text-decoration: none;
  color: var(--theme-nav-accent);
  display: inherit;
  padding: 12px 20px;
}

nav > div > a {
  font-size: 20px;
}

nav > div > a:hover {
  background-color: var(--theme-nav-hover);
}

/* Faire apparaître le menu déroulant lors du survol de l'élément correspondant de la barre de navigation */
nav > div:hover > div {
  display: block;
  max-height: 200px;
}

/* Menu déroulant */
nav > div > div {
  position: absolute;
  overflow: hidden;
  transition: all 2s;
  max-height: 0;
}

nav > div > div > a {
  display: block;
  background-color: var(--theme-nav-menu);
  color: var(--theme-nav);
  min-width: 4em;
}

nav > div > div > a:last-child {
  border-radius: 0 0 8px 8px;
}

nav > div > div > a:hover {
  background-color: var(--theme-monotone2-l);
}

.main-contenu {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.main-contenu article {
  flex-grow: 3;
  max-width: 60%;
}

.main-contenu div {
  padding: 5px;
  flex-grow: 2;
}

.cercle {
  width: 48px;
  height: 48px;
  background-color: var(--theme-couleur2);
  border-radius: 50%;
  position: relative;
  align-self: center;
}
